.header {
  display: grid;
  grid-column: span 13;
  font-weight: 1000;
  position: absolute;
  width: 100%;
  background-color: transparent;

  & > div {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;

    &:not(:first-child):hover {
      text-decoration: underline;
    }
  }

  .empty-clickable-area {
    grid-column: 2/9;
  }

  .logo-header {
    grid-column: 1;
    color: black;
  }

  .about-header {
    grid-column: 9;
  }

  .projects-header {
    grid-column: 10;
  }

  .contacts-header {
    grid-column: 11;
  }
}

.font-white {
  color: white;
  transition: 0.5s linear;
}
